<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>趋势跟踪系统<%= assigns[:title] && " - " <> assigns[:title] %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
      var CONFIG = {};
      <%= if assigns[:js_config] do %>
      <%= for {key, value} <- @js_config do %>
      CONFIG["<%= key %>"] = <%= raw Poison.encode!(value) %>;
      <% end %>
      <% end %>
    </script>
  </head>

  <body>
    <div class="container" style="margin-bottom: 20px;">
      <nav class="navbar">
        <div class="navbar-brand">
          <%= link to: page_path(@conn, :index), class: "navbar-item logo" do %>
            <strong class="title is-5">
              趋势跟踪系统
              <span style="font-size: 12px;">Beta</span>
            </strong>
          <% end %>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link "市场", to: market_path(@conn, :show), class: "navbar-item" %>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <%= if @authenticated? do %>
              <div class="control">
                <%= link @current_user.nickname, to: setting_path(@conn, :index) %>
              </div>
              <div class="control">
                <%= link "退出", to: session_path(@conn, :delete), method: :delete %>
              </div>
              <% else %>
              <div class="control">
                <%= link "注册", to: user_path(@conn, :new), class: "button" %>
              </div>
              <div class="control">
                <%= link "登录", to: session_path(@conn, :new), class: "button is-info" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= if get_flash(@conn, :info) do %>
      <p class="notification is-info"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
      <p class="notification is-danger"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </body>
</html>
